<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tt.traffic.dao.TrafficLayerPointMapper" >
  <resultMap id="BaseResultMap" type="com.tt.traffic.domain.model.TrafficLayerPoint" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="geom" property="geom" jdbcType="VARCHAR" />
    <result column="cross_id" property="crossId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="yn" property="yn" jdbcType="TINYINT" />
  </resultMap>

  <select id="getTrafficLayerPointByType" parameterType="int" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List"/>
    FROM
      traffic_layer_point
    WHERE
      yn = 1 AND type=#{type,jdbcType=INTEGER}
  </select>

  <sql id="Base_Column_List" >
    Id, geom, cross_id, name, type, content, yn
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from traffic_layer_point
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from traffic_layer_point
    where Id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.tt.traffic.domain.model.TrafficLayerPoint" >
    insert into traffic_layer_point (Id, geom, cross_id, 
      name, type, content, 
      yn)
    values (#{id,jdbcType=INTEGER}, #{geom,jdbcType=VARCHAR}, #{crossId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{content,jdbcType=VARCHAR}, 
      #{yn,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.tt.traffic.domain.model.TrafficLayerPoint" >
    insert into traffic_layer_point
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="geom != null" >
        geom,
      </if>
      <if test="crossId != null" >
        cross_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="yn != null" >
        yn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="geom != null" >
        #{geom,jdbcType=VARCHAR},
      </if>
      <if test="crossId != null" >
        #{crossId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="yn != null" >
        #{yn,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.tt.traffic.domain.model.TrafficLayerPoint" >
    update traffic_layer_point
    <set >
      <if test="geom != null" >
        geom = #{geom,jdbcType=VARCHAR},
      </if>
      <if test="crossId != null" >
        cross_id = #{crossId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="yn != null" >
        yn = #{yn,jdbcType=TINYINT},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tt.traffic.domain.model.TrafficLayerPoint" >
    update traffic_layer_point
    set geom = #{geom,jdbcType=VARCHAR},
      cross_id = #{crossId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      content = #{content,jdbcType=VARCHAR},
      yn = #{yn,jdbcType=TINYINT}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>