<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tt.traffic.dao.TrafficModelMiniMapper" >
  <resultMap id="BaseResultMap" type="com.tt.traffic.domain.model.TrafficModelMini" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="model_id" property="modelId" jdbcType="INTEGER" />
    <result column="road_id" property="roadId" jdbcType="INTEGER" />
    <result column="aorb" property="aorb" jdbcType="INTEGER" />
    <result column="link_group" property="linkGroup" jdbcType="VARCHAR" />
    <result column="roadname" property="roadname" jdbcType="VARCHAR" />
    <result column="link_type" property="linkType" jdbcType="VARCHAR" />
    <result column="length" property="length" jdbcType="REAL" />
    <result column="geom" property="geom" jdbcType="LONGVARCHAR" />
    <result column="yn" property="yn" jdbcType="TINYINT" />
  </resultMap>

  <sql id="Base_Column_List" >
    Id, model_id, road_id, aorb, link_group, roadname, link_type, length, geom, yn
  </sql>
  <select id="getList" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List"/>
    FROM
      traffic_model_mini
    WHERE
      yn = 1
  </select>

  <select id="getMiniListByModelId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    traffic_model_mini
    WHERE
    model_id=#{modelId} AND
    yn = 1
  </select>
</mapper>